@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;700&family=Montserrat:wght@300;400;600&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,700;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700&family=Share+Tech+Mono&family=Work+Sans:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Molde Condensed Italic';
  src: url('./assets/fonts/Molde-Condensed-BlackItalic.woff') format('woff'),
        url('./assets/fonts/Molde-Condensed-BlackItalic.woff2') format('woff2');   
}
@font-face {
  font-family: 'Molde Condensed';
  src: url('./assets/fonts/Molde-Condensed-Black.woff') format('woff'),
        url('./assets/fonts/Molde-Condensed-Black.woff2') format('woff2');   
}

body, div, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif !important;  
    color: #E9FCFF;  
}

#root {
  background-image: url('https://templates.casloop.net/disyuting/wp-content/uploads/sites/19/2023/11/Plain-GradientDisyuting.jpg');
  background-position: center center;
  background-repeat: repeat-y;
  background-size: 100% auto;
}

.App {
    overflow: hidden;
}

.molde-condensed-bold {
  font-family: 'Molde Condensed', sans-serif !important;
}

.molde-condensed-bold-italic {
  font-family: 'Molde Condensed Italic', sans-serif !important;
}

.big-shoulders-display {
  font-family: 'Big Shoulders Display', sans-serif !important;
}

.share-tech-mono {
    font-family: 'Share Tech Mono', monospace !important;
}

.website-blocks.has-cover {
    overflow: hidden;
    height: 0;
}

.initial-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.website-blocks:not(.has-cover) .website-cover {
    transform: translateY(-100%);
    overflow: auto;
}

.website-cover {
    background: #fff;
    position: fixed;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    transition: cubic-bezier(.2,0,0,1) 2s;
}

.background-music {
    position: fixed;
    bottom: 16px;
    right: 16px;
    max-width: calc(100vw - 32px);
    z-index: 1500;
}

.background-music .btn, .background-music .addtocalendar .atcb-link, .addtocalendar .background-music .atcb-link {
    background: rgba(0,0,0,0.75);
    height: 32px;
    width: 32px;
    overflow: hidden;
    transition: all 2s ease;
    border-radius: 16px;
    white-space: nowrap;
}

.text-white {
    color: #fff !important;
}

.btn-sm, .btn-group-sm>.btn, .addtocalendar .btn-group-sm>.atcb-link, .addtocalendar .atcb-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0;
}

.btn-dark {
    border-color: #343a40;
}

.background-music.is-paused .btn>*:not(.background-music-play-icon), .background-music.is-paused .atcb-link>*:not(.background-music-play-icon), .addtocalendar .background-music.is-paused .atcb-link>*:not(.background-music-play-icon) {
    display: none;
}

.background-music.is-played.is-expanded .btn, .background-music.is-played.is-expanded .addtocalendar .atcb-link, .addtocalendar .background-music.is-played.is-expanded .atcb-link, .background-music.is-played .btn:hover, .background-music.is-played .addtocalendar .atcb-link:hover, .addtocalendar .background-music.is-played .atcb-link:hover {
    width: 14.7rem;
}

.time-wrapper {
    padding-left: 0px !important;
}

.animate-text-focus-in-1s {
    animation: text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
}

.animate-text-focus-in-2s {
  animation: text-focus-in 2s cubic-bezier(.55,.085,.68,.53) both;
}

.animate-text-focus-in-3s {
  animation: text-focus-in 3s cubic-bezier(.55,.085,.68,.53) both;
}

.animate-text-focus-in-4s {
  animation: text-focus-in 4s cubic-bezier(.55,.085,.68,.53) both;
}

.animate-focus-in-expand{animation:focus-in-expand .8s cubic-bezier(.25,.46,.45,.94) both}

.focus-in-contract{animation:focus-in-contract .7s cubic-bezier(.25,.46,.45,.94) both}

@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

@keyframes focus-in-expand{0%{letter-spacing:-.5em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

@keyframes focus-in-contract{0%{letter-spacing:1em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

.animate-slide-in-left-2s{animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) both}

.animate-slide-in-left-3s{animation:slide-in-left 2s cubic-bezier(.25,.46,.45,.94) both}


@keyframes slide-in-left{0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}


.animate-slide-in-right-2s{animation:slide-in-right 1s cubic-bezier(.25,.46,.45,.94) both}

.animate-slide-in-right-3s{animation:slide-in-right 2s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-in-right{0%{transform:translateX(1000px);opacity:0}100%{transform:translateX(0);opacity:1}}

.puff-in-center-1s{animation:puff-in-center 1s cubic-bezier(.47,0.000,.745,.715) both}

@keyframes puff-in-center{0%{transform:scale(2);filter:blur(4px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}

/* Neon Text Section Start */
.neonPurpleText {
  color: #fff;
  text-shadow:
    0 0 14px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #bc13fe,
    0 0 140px #bc13fe,
    0 0 180px #bc13fe,
    0 0 200px #bc13fe,
    0 0 300px #bc13fe;
}


/* Neon Text Section End */

ul.MuiImageList-root {
  margin-top: 3px;
  margin-bottom: 3px;
}

.wishes-title {
  margin-bottom: 32px !important;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.MuiInputLabel-shrink {
  font-size: 1rem !important;
}

.video-thumb {
  height: 400px !important;
}

.BoxCoupleLightOn {
  background-color: transparent;
  background-image: linear-gradient(22deg, #E9FCFF0F 0%, #98C0DFB5 55%);
  border: 1px solid #62DEF5;
  transition: box-shadow 0.3s ease;
  transition-delay: 0.3s;
  box-shadow: 0px 14px 28px 7px rgba(98, 222, 245, 0.4);
}

.BoxCoupleLightOff {
  box-shadow: none; 
  transition-delay: 0.5s; 
}

.video-dialog {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .video-thumb {
    height: 200px !important;
  }

  .video-dialog {
    width: 90%;
  }
}

.video-thumb-wrapper > .lazy-load-image-background {
  width: 100% !important;
}
/* .wishes-section:before {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #1e1e37 transparent transparent transparent;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 100px;
} */



